version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: shop
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - core

  flask:
    build: .
    container_name: flask
    env_file: .env
    ports:
      - "1236:1236"
    depends_on:
      - mysql
    networks:
      - core

networks:
  core:
    driver: bridge
